*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Outfit",sans-serif;

}

body{

background:#FAFAF8;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.background{

position:absolute;

width:500px;
height:500px;

background:#FFF3C2;

border-radius:50%;

filter:blur(160px);

}

.login-box{

position:relative;

background:white;

padding:50px;

border-radius:30px;

width:420px;

box-shadow:0 20px 40px rgba(0,0,0,.08);

}

.logo{

text-align:center;

margin-bottom:40px;

}

.logo h1{

color:#F6D365;

margin-bottom:10px;

}

.logo p{

color:#777;

}

form{

display:flex;

flex-direction:column;

gap:20px;

}

input{

padding:18px;

border-radius:15px;

border:1px solid #E5E5E5;

font-size:16px;

}

button{

padding:18px;

border:none;

border-radius:50px;

background:#F6D365;

font-size:16px;

font-weight:600;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#EFC14B;

}

.register{

margin-top:30px;

text-align:center;

color:#777;

}

.register a{

text-decoration:none;

color:#F6D365;

font-weight:600;

}